@import "./reset.css";
@import "./fonts.css";
@import "./settings.css";


/* set section main */

.wr-preview {
    background-image: url(../media/header.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding-bottom: 150px;
    box-sizing: border-box;
    background-position: center;
    
  }

.wr-preview .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
    
    
header {
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 20px;
  max-width: 70%;
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 100px;
  color: #fff;
  text-align: center;
  font-family: "Montserrat";
}

.wr-promo  h2 {
  font-size: 34px;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans Italic";
  padding-top: 20px;
  font-style: italic;
}

.wr-promo p {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans Italic";
  padding-top: 20px;
  font-style: italic;
}

.divider {
  text-align: center;
  padding-top: 20px;
}
.mouse {
  padding-top: 20px;
}

.wr-promo .container p:last-child {
  font-size: 18px;
  color: #fff;
  text-align: center;
  font-family: "Noto Sans Italic";
}

.wr-promo  {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* set section our services */

.wr-services {
  display: flex;
  background-color: #121212;
  height: 100vh;
}
.wr-services .container {
  
  max-width: 80%;
  margin: 0 auto;
}

.wr-services .container h2 {
  font-family: "Montserrat";
  color: #fff;
  font-size: 36px;
  font-style: bold;
  padding-top: 20px;
  padding-left: 40px;
}

.wr-services .container p {
  color: #fff;
}

.wr-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.wr-container .container {
  box-sizing: border-box;
  padding: 1rem;
  width: 30%;
}
.container .image-wrapper {
  width: 20%;
  border-bottom: solid 2px #757575;
  padding-left:10px;

}

.wr-container .container h3 {
  color: #fff;
  font-size: 26px;
  font-family: "Montserrat";
  padding-bottom: 10px;

}

.wr-container .container p {
  color: #757575;
  font-size: 14px;
  font-family: "Noto Sans";

}

.image-wrapper img {
  margin-bottom: 20px;

}

.image-wrapper {
  margin-bottom: 10px;

}




/* set section galery */

.wr-galery {
  background-color: #121212;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(14, minmax(auto,55px));
  grid-template-columns: repeat(5, 1fr);
  
}
.grid-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;

}


.grid-item-image1 {
  grid-column:1;
  grid-row: 1/6;
  
}

.grid-item-image2 {
  grid-column:2;
  grid-row: 1/5;
  
}
.grid-item-image3 {
  grid-column:3;
  grid-row: 1/4;
  
}
.grid-item-image4 {
  grid-column:4;
  grid-row: 1/5;
  
}
.grid-item-image5 {
  grid-column:5;
  grid-row: 1/6;
  
}
.grid-item-image6 {
  grid-column:1;
  grid-row: 6/14;
}
.grid-item-image7 {
  grid-column:2;
  grid-row: 5/13;
}
.grid-item-image8 {
  grid-column:3;
  grid-row: 4/12;
}
.grid-item-image9 {
  grid-column:4;
  grid-row: 5/13;
}
.grid-item-image10 {
  grid-column:5;
  grid-row: 6/14;
}
.btn-container{
  display: flex;
}

.btn-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 970px;
  height: 50px;
  background: linear-gradient(to right, #26a69a 0%,#ab47bc 100%);
  text-align: center;
  font-size: 14px;
  font-family: "Montserrat";
  color:white;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0 auto;
}

/* set section how we work */

.wr-howwework {
  background-color: #121212;
  padding-top: 10px;
}

.wr-howwework .container{
  max-width: 80%;
  margin: 0 auto;
}

.wr-howwework .container h2 {
  font-family: "Montserrat";
  color: #fff;
  font-size: 36px;
  font-style: bold;
  padding-top: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  padding-top: 30px;

}

.wr-how-container {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
 
  
}

.wh-how-container .container .image-divider {
  border-bottom: solid 2px;
  border-image: linear-gradient(to right, #26a69a 0%,#ab47bc 100%);

}

.image-divider {
  font-family: 'Montserrat';
  font-size: 72px;
  color:#fff;
  width: 65%;
  border-bottom: solid 2px;
  border-image: linear-gradient(to right, #26a69a 0%,#ab47bc 100%) 1;
  position: relative;
}

.image-divider span{
  color: #757575;
  font-size: 26px;
  font-family: 'Noto Sans';
  font-style: italic;
  position: absolute;
  top: 10px;
}

.wr-how-container .container h3 {
  font-family: 'Montserrat';
  font-size: 26px;
  color:#fff;
  font-style: bold;
  padding-top: 10px;
}

.wr-how-container .container p {
  color: #757575;
  font-size: 14px;
  font-family: 'Noto Sans';
  padding-top: 10px;
  
}

/* set section our clients */


.clients-wrapper{
  display: flex;
  background: linear-gradient(to right, #26a69a 0%,#ab47bc 100%);
}

.clients-wrapper .container{
  max-width: 80%;
  margin: 0 auto;
}

.container .wr-clients {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}
.wr-clients .clients{
  box-sizing: border-box;
  padding: 1rem;
  width: 25%;
  font-size: 30px;
  color:#fff;
}



.clients-wrapper .container h2{
  font-family: 'Montserrat';
  font-size: 36px;
  color:#fff;
  padding-top: 20px;
}


/* set section price and plans */

.container {
  max-width: 80%;
  margin: 0 auto;

}

.plans-wrapper {
  background-color: #121212; 

}

.wr-plans{
  display: flex;
  padding-top: 20px;
  justify-content: space-around;
}

.wr-plans .container .price-divider{
  border-bottom: solid 2px;
  border-image: linear-gradient(to right, #26a69a 0%,#ab47bc 100%) 1;
}

.wr-plans .container{
  border: solid 2px white;
  box-sizing: border-box;
  padding: 1rem;
  width: 15%;
}

.plans-wrapper .container h2{
  font-family: "Montserrat";
  color: #fff;
  font-size: 36px;
  font-style: bold;
  padding-top: 20px;
  padding-left: 4
  0px;
  text-transform: capitalize;
  padding-top: 30px;
  
  
}

.plans-wrapper .container {
  color: #fff; 
}


